.login {
  margin-top: 20%;
  border: lightgrey solid 1px;
  box-shadow: lightgrey 5px 5px;
  border-radius: 5px;
  padding: 10px;
}
/* Structure */
.appMessage {
  position: absolute;
  top: 50px;
  right: 50px;
  display: none;
  z-index: 99999;
}
